/.org-id-locations
/auto-save-list/
/bookmarks
/cedet/
/eln-cache/
/elpa/
/eshell/
/history
/image-dired/
/multisession/
*.db
/places
*.eld
*.cache
/quelpa/
/transient/
/projects
/recentf
/tabsession.el
/tutorial/
/tramp
